<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - core</title>

    <link rel="stylesheet" href="~/scss/white-dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nucleo-icon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>

<body>
    <div class="content">
        <div class="wrapper">
            @Html.Partial("Sidebar")
            <div class="main-panel">
                @Html.Partial("TopNav")
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
